<% content_for :pagetitle do %>Color Picker — A handy design tool from Color Supply<% end %>
<% content_for :description do %>Use the color wheel to select a style you like. Then pick a hex code..<% end %>

<%= render 'shared/header' %>

<div class="app_container" id="hex_match_app">
	<!-- sidenav -->
	<div class="sidenav_color_combinations color_combinations" id="color_sq">
		<div class="color_selectors sidenav_color_selectors"></div>
	</div>
	<section class="section colorwheel show">
		<div class="container">
			<div class="canvas_wrap">
				<div class="color_picker">
					<div id="canvas_container" class="color-preview">
						<div class="col-xs-12">
							<svg width="403" height="403" viewBox="0 0 403 403" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="201.5" cy="201.5" r="201" stroke="#C1C1C1" class="circle-backdrop" fill="#FFFFFF"/>
								<circle cx="201" cy="202" r="87.5" stroke="#C1C1C1" fill="#FFFFFF"/>
							</svg>
						</div>
					</div> <!-- end svg_layout -->
					<div class="hex_picker__container">
						<div id="color_picker_label" class="hex_picker">
							<div class="hex_input_container">
								<input type="text" class="form-control hex_input" placeholder="FF0000" maxlength="7">
								<span class="hex_tag">#</span>
								<%= image_tag "color_swatches.svg", class: "color_picker_toggler" %>
							</div>
						</div>
						<%= render 'main/hex-color-picker' %>
					</div>
				</div>
				<div class="color_combinations" id="color_sq">
					<div class="color_selectors">
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
						<div class="color_selector--blank"></div>
					</div>
					<div class="color_sqg">
                    <div class="flushright">
						<div class="sq1 btn-square colors_1" data-color=""></div>
						<div class="sq2 btn-square colors_2" data-color=""></div>
						<div class="sq3 btn-square colors_3" data-color=""></div>
						<div class="sq4 btn-square colors_4" data-color=""></div>
                        </div>
						<p id="designer" > </p>
					</div>
				</div> <!-- end color_sq -->				
			</div>
			<div class="">
				<div class="object_sq">  <!-- 1 badges -->
					<object id="b1_4c" data="<%= image_path('badge1_4colors_grey.svg') %>" type="image/svg+xml"></object>
					<object id="b2_4c" data="<%= image_path('badge2_4colors_grey.svg') %>" type="image/svg+xml"></object>
					<object id="b3_4c" data="<%= image_path('badge3_4colors_grey.svg') %>" type="image/svg+xml"></object>
					<object id="b4_4c" data="<%= image_path('badge4_4colors_grey.svg') %>" type="image/svg+xml"></object>
				</div>
				<div class="triangles"> <!-- 2 triangles -->
					<object id="triangle_svg" class="triangles__desktop" width="850" height="120" data="<%= image_path('triangles_grey.svg') %>" type="image/svg+xml"></object>
					<object id="triangle_svg" class="triangles__mobile" width="850" height="300" data="<%= image_path('triangles_mobile.svg') %>" type="image/svg+xml"></object>
				</div>

				<div class="bottom_sq hide"> <!-- 3 hex squares -->
					<div class="color_squares">
						<div class="bottom-square colors_1">
							<div class="sq1"></div>
							<p id="sq1">#ffffff</p>
						</div>
						<div class="bottom-square colors_2">
							<div class="sq2"></div>
							<p id="sq2">#ffffff</p>
						</div>
						<div class="bottom-square colors_3">
							<div class="sq3"></div>
							<p id="sq3">#ffffff</p>
						</div>
						<div class="bottom-square colors_4">
							<div class="sq4"></div>
							<p id="sq4">#ffffff</p>
						</div>
					</div>
				</div>


				<div class="gradients"> <!-- 5  gradient circles -->
					<div class="gradient_circles">							<!-- order -->
						<div class="gradient_circle gc1 "></div>	<!-- 1 - 2 -->
						<div class="gradient_circle gc2 "></div>	<!-- 1 - 3 -->
						<div class="gradient_circle gc4 "></div>	<!-- 2 - 3 -->
						<div class="gradient_circle gc3 "></div>	<!-- 1 - 4 -->
						<div class="gradient_circle gc5 "></div>	<!-- 2 - 4 -->
						<div class="gradient_circle gc6 "></div>	<!-- 3 - 4 -->
					</div>
					<div class="gradient_squares_wrapper"> <!-- 6  gradient squares -->
						<div class="gradient_squares">
							<div class="gradient_square gs1 colors_3"></div>
							<div class="gradient_square gs2 colors_3"></div>
							<div class="gradient_square gs3 colors_3"></div>
							<div class="gradient_square gs4 colors_3"></div>
						</div>
						<div class="gradient_squares">
							<div class="gradient_square gs5 colors_3"></div>
							<div class="gradient_square gs6 colors_3"></div>
							<div class="gradient_square gs7 colors_3"></div>
							<div class="gradient_square gs8 colors_3"></div>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="button-gray add-favorite"><%= t("create_page.add_to_favorites") %></button>
		</div>
	</section>
</div><!-- end container -->

<!-- POPUP FOOTER START-->

	<div class="modal-popup">
		<div class="modal-content-body">
			<div class="img-modal">
				<%= image_tag("sales_small.jpg", :alt => "fashion_site_colors", :class => "sales-img img-responsive") %>
			</div>
			<div class="text-wrap">
				<p class="title-free">Free Design Course</p>
				<p class="text-case">17 Case Studies. Detailed description.</p>
				<%= link_to free_design_course_url, class: 'btn-go' do%>
					GO
				<%end%>
			</div>
			<div class="icon-close">
				<a href="javascript:;" class="form_close_button"><img src="<%= image_path('small_close.svg', alt: 'Close') %>"></a>
			</div>
		</div>
	</div>
	<div class="backdrop-course hide"></div>

<!-- POPUP FOOTER END -->
    
<!-- POPUP PRO TIP START -->
  <div class="modal-tip hidden-tip">
    <div class="img-tip">
      <%= image_tag("arrow_new.svg", :alt => "fashion_site_colors", :class => "img-responsive", :style => "width:65px; margin-top:30px" )%>
    </div>
    <div class="wrap-pro-text">
      <p class="title-tip"><b>Pro tip:</b></p>
      <p class="sub-text-tip">Use the <b>up</b>, <b>down</b>, <b>left</b> and <b>right</b> keyboard arrows to quickly toggle through the palettes</p>
    </div>
      <div class="tip-close">
          <a href="javascript:;" class="form_close_button"><img src="<%= image_path('close.svg', alt: 'Close') %>"></a>
      </div>
  </div>
<!-- POPUP PRO TIP END -->

<!-- MODAL CLICK REACHED -->
<% if user_signed_in? && !current_user.is_payed? && !current_user.subscription.present? && !current_user.payment_sessions.present? && !current_user.license.present? %>
	<div class="modal-usage-limit" id="modal-usage-limit">
		<div class="modal-usage-content">
		<%= t('create_page.free_trial') %>
		<%= image_tag("#{trial_countdown(cookies[:counter].to_i, 'icon')}", :alt => "LIMIT USAGE", :class => "img-responsive img-tip", width:"100%")%>
		</div>
	</div>

	<div class="modal-usage-limit-message hide" id="modal-usage-limit-message">
		<div class="icon-close-limit">
			<%= image_tag("close_button_very_small.svg", :alt => "Close", :class => "img-responsive", width:"100%")%>
		</div>
		<div class="text-tip"><%= trial_countdown(cookies[:counter].to_i, "text") %></div>
		<% if cookies[:counter].to_i >= 6 %>
			<div class="subtext-tip">
				<%= link_to t("trial_ended_modal.upgrade_now"), pricing_path(promo: "vDOLkivN") %> <%= "#{t("trial_ended_modal.upgrade_with_code", code: "vDOLkivN")}".html_safe %>
			</div>
		<% end %>
	</div>

	<%= render 'main/usage-modal' %>
<% end %>