<% content_for :pagetitle do %>Red Aesthetic - examples of the color red at work<% end %>
<% content_for :description do %>Red Aesthetic - examples of red at work.<% end %>

<%= render 'shared/header' %>

<div class="app_container">
	<section class="section colorwheel show">
		<div class="container">
			<section class="section_aesthetic row">
				<h1 class="page-title">Red Aesthetic</h1>
				<div class="color_name_aesthetic">
					<ul>
						<li class="list_name_aesthetic blue-link"><%= link_to  "RED", root_path %></li>
						<li class="list_name_aesthetic">BLUE</li>
						<li class="list_name_aesthetic">YELLOW</li>
						<li class="list_name_aesthetic">GREEN</li>
					</ul>
				</div>
				<div class="canvas_wrap text_wrap col-lg-7">
					<div class="title_text">
						<h1 class="page-title__left">Overview</h1>
						<p></p>
						<p>Red is the color of passion. It is on the far right of the color spectrum.</p>
						<p>Because red is so intense, it can be overwhelming. Studies have shown that a room painted red can be stressful for the occupants inside. </p>
						<p>When paired with blue and yellow (the other primary colors), it can convey strength. When used with green, it will attract attention.</p>
						<p>Use red with caution. Use too much and your audience will tune out.</p>
					</div>
				</div>
				<div class="image_brand_right col-lg-5">
     			 <%= image_tag('red_aesthetic1.jpg', alt: 'Red Aesthetic', width:'100%') %>
				</div>
			</section>
			<section class="section_aesthetic row">
				<div class="col-lg-7">
					<div class="title_text">
						<h1 class="page-title__left">Red &amp; the Primary Colors</h1>
						<p>Because red is so intense, it can be overwhelming. Studies have shown that a room painted red can be stressful for the occupants inside. When used with blue and yellow, red is often used as a highlight color. </p>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic col-lg-6">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('primary_color_example_1.jpg', alt: 'Primary Color Example 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Yellow is the dominant color here, with red and blue acting as highlights.</p>
		     			</div>
	     			</div>
					</div>
					<div class="card_image_aesthetic col-lg-6">
						<div class="card_image_aesthetic_wrap">
	     				<%= image_tag('primary_color_example_2.jpg', alt: 'Primary Color Example 2', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Red is explosive.</p>
		     			</div>
	     			</div>
					</div>

					<div class="card_image_aesthetic_lg mt_card col-lg-12">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('primary_color_example_3.jpg', alt: 'Primary Color Example 3', width:'100%') %>
		     			<div class="caption_image_aesthetic"><p class="caption_text">Primary colors act as a good anchor and can pull a design together. </p></div>
	     			</div>
					</div>

				</div>
			</section>
			<section class="section_aesthetic row">
				<div class="col-lg-7">
					<div class="title_text">
						<h1 class="page-title__left">Poster Design</h1>
						<p>Some examples of red being used in poster design. </p>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					
					<div class="card_image_aesthetic col-lg-6">
						 <div class="card_image_aesthetic_wrap">
		     			 <%= image_tag('red_poster_1.jpg', alt: 'Red Poster 1', width:'100%') %>
		     			 <div class="caption_image_aesthetic"><p class="caption_text">This poster is simple but it grabs your attention because it is red. </p></div>
		     		  </div>
					</div>

					<div class="card_image_aesthetic col-lg-6">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_poster_2.jpg', alt: 'Red Poster 2', width:'100%') %>
		     			<div class="caption_image_aesthetic"><p class="caption_text">Red is the color of death. It is used here to reinforce that feeling of dread in the play Death of a Salesman. </p></div>
		     		</div>
					</div>
				</div>


				<div class="image_aesthetic_container row">
					  <div class="card_image_aesthetic col-lg-6">
							<div class="card_image_aesthetic_wrap">
			     			<%= image_tag('red_poster_3.jpg', alt: 'Red Poster 3', width:'100%') %>
			     			<div class="caption_image_aesthetic"><p class="caption_text">Stripes on the flag turn to blood here.</p></div>
			     		</div>
					  </div>

					<div class="card_image_aesthetic col-lg-6">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_poster_4.jpg', alt: 'Red Poster 4', width:'100%') %>
		     			<div class="caption_image_aesthetic"><p class="caption_text">A bold jagged line grabs the users attention.</p></div>
            </div>
					</div>


				<div class="image_aesthetic_container row">
				  <div class="card_image_aesthetic_lg mt_card col-lg-12" id="red_poster_5">
						<div class="card_image_aesthetic_wrap">
	     				<%= image_tag('red_poster_5.jpg', alt: 'Red Poster 3', width:'100%') %>
	     				<div class="caption_image_aesthetic"><p class="caption_text">A human face will always draw people in, but the red square here is equally powerful at getting attention. In this design your eye bounces back and forth from the foreground to background between the two. </p></div>
	     		  </div>
				  </div>
				</div>



			</section>
			<section class="section_aesthetic row">
				<div class="col-lg-7">
					<div class="title_text">
						<h1 class="page-title__left">Web Design</h1>
						<p>If red were used as a dominant color on a website it could overwhelm the user. In these examples red is often used as a highlight color instead. </p>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic_lg col-lg-12 ml-sm-1">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_website_1.jpg', alt: 'Red Website 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Limited amounts of red makes this site pleasant to use.</p>
		     			</div>
		     		</div>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic_lg col-lg-12 ml-sm-1">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_website_2.jpg', alt: 'Red Website 2', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Red is used on the CTA's here.</p>
		     			</div>
		     		</div>
					</div>
				</div>
			</section>
			<section class="section_aesthetic row">
				<div class="col-lg-7">
					<div class="title_text">
						<h1 class="page-title__left">Advertising</h1>
						<p>Red is the most active color on the spectrum. It calls attention to itself. Advertisers leverage this to grab attention. </p>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic_lg col-lg-12 ml-sm-1">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_ad_1.jpg', alt: 'Red Ad 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">These good boys look great next to red. </p>
		     			</div>
		     		</div>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic_lg col-lg-12 ml-sm-1">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_ad_2.jpg', alt: 'Red Ad 2', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">The boldness and simplicty of this ad draws you in. When the viewer sees it, it's a like a little puzzle their brain wants to solve.</p>
		     			</div>
		     		</div>
					</div>
				</div>
			</section>
		
		</div><!-- end container -->
	</section>
	<div class="footer">
		<div class="designhelp">
     	<p>Enjoy this? Try our <%= link_to  "Color Picker", app_path, class: "blue-link"%>. </p>
		</div>
	</div>
</div>