<% content_for :pagetitle do %>Red Aesthetic - examples of the color red at work<% end %>
<% content_for :description do %>Red Aesthetic - examples of red at work.<% end %>

<%= render 'shared/header' %>

<div class="app_container">
	<section class="section colorwheel show">
		<div class="container">
			<section class="section_aesthetic row">
				<h1 class="page-title">Red Aesthetic</h1>
				<div class="color_name_aesthetic">
					<ul>
						<li class="list_name_aesthetic blue-link"><%= link_to  "RED", root_path %></li>
						<li class="list_name_aesthetic">BLUE</li>
						<li class="list_name_aesthetic">YELLOW</li>
						<li class="list_name_aesthetic">GREEN</li>
					</ul>
				</div>
				<div class="canvas_wrap text_wrap col-lg-7">
					<div class="title_text">
						<h1 class="page-title__left">Overview</h1>
						<p></p>
						<p>Red is the color of passion. It is on the far right of the color spectrum.</p>
						<p>Because red is so intense, it can be overwhelming. Studies have shown that a room painted red can be stressful for the occupants inside. </p>
						<p>When paired with blue and yellow (the other primary colors), it can convey strength. When used with green, it will attract attention.</p>
						<p>Aliquam lectus viverra auctor. Nunc eget malesuada erat. Etiam quam ligula, commodo eget ultrices a, elemntum et risus. Suspendisse in massa era. Praesent gravida facilisis sem at iaculis. Vestibulum finibus bibendum dignissim</p>
					</div>
				</div>
				<div class="image_brand_right col-lg-5">
     			 <%= image_tag('red_aesthetic1.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
				</div>
			</section>
			<section class="section_aesthetic row">
				<div class="col-lg-7">
					<div class="title_text">
						<h1 class="page-title__left">Primary Colors</h1>
						<p>Because red is so intense, it can be overwhelming. Studies have shown that a room painted red can be stressful for the occupants inside </p>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic col-lg-6">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_aesthetic2.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nunc, pulvinar sed sollicitudin et, consequat id felis.</p>
		     			</div>
	     			</div>
					</div>
					<div class="card_image_aesthetic col-lg-6">
						<div class="card_image_aesthetic_wrap">
	     				<%= image_tag('red_aesthetic3.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Pellentesque non velit sit amet diam dapibus cursus non viverra urna. Sed justo diam, ultricies et erat at, ultrices semper eros.</p>
		     			</div>
	     			</div>
					</div>
					<div class="card_image_aesthetic_lg mt_card col-lg-12">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_aesthetic4.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nunc, pulvinar sed sollicitudin et, consequat id felis. Pellentesque non velit sit amet diam dapibus cursus non viverra urna. Sed justo diam, ultricies et erat at.</p>
		     			</div>
	     			</div>
					</div>
				</div>
			</section>
			<section class="section_aesthetic row">
				<div class="col-lg-7">
					<div class="title_text">
						<h1 class="page-title__left">Poster Design</h1>
						<p>Because red is so intense, it can be overwhelming. Studies have shown that a room painted red can be stressful for the occupants inside </p>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic col-lg-6">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_aesthetic5.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nunc, pulvinar sed sollicitudin et, consequat id felis. </p>
		     			</div>
		     		</div>
					</div>
					<div class="card_image_aesthetic col-lg-6">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_aesthetic6.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nunc, pulvinar sed , consequat id felis. Consectetur adipiscing elit. Donec enim nunc, pulvinar sed sollicitudin et, consequat id felis. </p>
		     			</div>
		     		</div>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic col-lg-6">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_aesthetic7.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nunc, pulvinar sed sollicitudin et, consequat id felis. </p>
		     			</div>
		     		</div>
					</div>
					<div class="card_image_aesthetic col-lg-6">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_aesthetic8.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nunc, pulvinar sed</p>
		     			</div>
		     		</div>
					</div>
				</div>
			</section>
			<section class="section_aesthetic row">
				<div class="col-lg-7">
					<div class="title_text">
						<h1 class="page-title__left">Web Design</h1>
						<p>Because red is so intense, it can be overwhelming. Studies have shown that a room painted red can be stressful for the occupants inside </p>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic_lg col-lg-12 ml-sm-1">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_aesthetic9.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nunc, pulvinar sed</p>
		     			</div>
		     		</div>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic_lg col-lg-12 ml-sm-1">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_aesthetic10.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nunc, pulvinar sed</p>
		     			</div>
		     		</div>
					</div>
				</div>
			</section>
			<section class="section_aesthetic row">
				<div class="col-lg-7">
					<div class="title_text">
						<h1 class="page-title__left">Advertising</h1>
						<p>Because red is so intense, it can be overwhelming. Studies have shown that a room painted red can be stressful for the occupants inside </p>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic_lg col-lg-12 ml-sm-1">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_aesthetic11.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nunc, pulvinar sed</p>
		     			</div>
		     		</div>
					</div>
				</div>
				<div class="image_aesthetic_container row">
					<div class="card_image_aesthetic_lg col-lg-12 ml-sm-1">
						<div class="card_image_aesthetic_wrap">
		     			<%= image_tag('red_aesthetic12.jpg', alt: 'Red Aesthetic 1', width:'100%') %>
		     			<div class="caption_image_aesthetic">
		     				<p class="caption_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nunc, pulvinar sed</p>
		     			</div>
		     		</div>
					</div>
				</div>
			</section>
			<br>
			<br>
		</div><!-- end container -->
	</section>
	<div class="footer">
		<div class="designhelp">
     	<p>Enjoy this? Try our <%= link_to  "Color Picker", app_path, class: "blue-link"%>. </p>
		</div>
	</div>
</div>