<%= render 'shared/header' %>
<div class="app_container">
  <style type="text/css" media="screen">
    .cs {
      display: inline-block;
      width: 31px;
      height: 16px;
    }
  </style>
  <section class="section">
    <div class="container favorite_color__">
      <div class="page-title__container title_fav load_fading">
        <h2 class="page-title"><%= t('favorites.favorites') %>
        </h2>        
          <%= image_tag('link.svg', alt: 'Link icon', class: 'icon_link', id:'link')%>
      </div>
      <div class="form_link_container">
        <div class="form_link">
          <label class="label-form">Shareable link</label>
          <input type="text" class="base-input link-form" readonly>
          <button class="btn btn btn--blue btn--small btn-copy">Copy</button>
        </div>
      </div>
      <div class="color_selector_favorites load_fading">
        <% row_index = 0 %>
        <% @favorites_with_index.in_groups_of(50).each_with_index do |favorites_box, idx1| %>
          <div class="row favorites-color">
            <% favorites_box.in_groups_of(10).each_with_index do |favorites, idx2| %>
              <% row_index   += 1 %>
              <% column_index = ((row_index - 1) * 10) %>
              <div>
                <div class="row_selector_badge col-md-2 <%= idx2.eql?(1) ? 'col-md-offset-1' : ''%>" id='draggable-<%= "#{idx1}-#{idx2}" %>' data-column-index="<%= column_index %>">
                  <% favorites.each_with_index do |favorite, idx3| %>
                    <% position_index = column_index + (idx3 + 1) %>
                    <% if favorite.nil? || favorite[:favorite].blank? %>
                      <div class="selector_badge" data-position="<%= position_index %>" data-column-index="<%= column_index %>">
                        <div class="color_blank"></div>
                      </div>
                    <% else %>
                      <div class="checkbox_color">
                        <input type="checkbox" data-favorite-id="<%= favorite[:favorite].id %>" data-shared-favorite-id="" <%= 'checked' if @shared.include?(favorite[:favorite].id) %> class="<%= 'checked' if @shared.include?(favorite[:favorite].id) %>">
                        <span class="checkmark"></span>
                      </div>
                      <div class="selector_badge" data-position="<%= position_index %>" data-favorite-id="<%= favorite[:favorite].id %>" data-column-index="<%= column_index %>">
                        <% colors = favorite[:favorite].color %>
                        <div class="color_selector" data-col1="<%= colors.first %>" data-col2="<%= colors.second %>" data-col3="<%= colors.third %>" data-col4="<%= colors.fourth %>" style="transform: scale(1);">
                          <a class="selector_link">
                            <% colors.each_with_index do |color, idx4| %>
                              <% idx4 += 1 %>
                              <span class="cs colors_<%= idx4 %>" style="background:<%= color %>"></span>
                            <% end %>
                          </a><div class="author"></div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="select_color_button">
          <button type="submit" data-shared-favorite-id="" class="<%= 'hide' unless @all_check %> button-gray button-select deselect"><span>DESELECT ALL</span></button>
          <button type="submit" data-shared-favorite-id="" class="<%= 'hide' if @all_check %> button-gray button-select select"><span>SELECT ALL</span></button>
        </div>
      </div>
    </div>

    <div class="container load_fading">
      <div class="svg_box">
        <div class="object_sq">  <!-- 1 badges -->
					<object id="b1_4c" data="<%= image_path('badge1_4colors.svg') %>"></object>
					<object id="b2_4c" data="<%= image_path('badge2_4colors.svg') %>"></object>
					<object id="b3_4c" data="<%= image_path('badge3_4colors.svg') %>"></object>
					<object id="b4_4c" data="<%= image_path('badge4_4colors.svg') %>"></object>
				</div>
        <div class="triangles"> <!-- 2 triangles -->
          <object id="triangle_svg" class="triangles__desktop" width="850" height="120" data="<%= image_path('triangles.svg') %>" type="image/svg+xml"></object>
					<object id="triangle_svg" class="triangles__mobile" width="850" height="300" data="<%= image_path('triangles_mobile.svg') %>" type="image/svg+xml"></object>
        </div>

        <div class="bottom_sq"> <!-- 3 hex squares -->
          <div class="color_squares">
            <div class="bottom-square colors_2">
              <div class="sq1"></div>
              <p id="sq1"></p>
            </div>
            <div class="bottom-square colors_2">
              <div class="sq2"></div>
              <p id="sq2"></p>
            </div>
            <div class="bottom-square colors_3">
              <div class="sq3"></div>
              <p id="sq3"></p>
            </div>
            <div class="bottom-square colors_4">
              <div class="sq4"></div>
              <p id="sq4"></p>
            </div>
          </div>
        </div>


        <div class="gradients"> <!-- 5  gradient circles -->
          <div class="gradient_circles">              <!-- order -->
            <div class="gradient_circle gc1 "></div>  <!-- 1 - 2 -->
            <div class="gradient_circle gc2 "></div>  <!-- 1 - 3 -->
            <div class="gradient_circle gc4 "></div>  <!-- 2 - 3 -->
            <div class="gradient_circle gc3 "></div>  <!-- 1 - 4 -->
            <div class="gradient_circle gc5 "></div>  <!-- 2 - 4 -->
            <div class="gradient_circle gc6 "></div>  <!-- 3 - 4 -->
          </div>
          <div class="gradient_squares_wrapper"> <!-- 6  gradient squares -->
            <div class="gradient_squares">
              <div class="gradient_square gs1 colors_3"></div>
              <div class="gradient_square gs2 colors_3"></div>
              <div class="gradient_square gs3 colors_3"></div>
              <div class="gradient_square gs4 colors_3"></div>
            </div>
            <div class="gradient_squares">
              <div class="gradient_square gs5 colors_3"></div>
              <div class="gradient_square gs6 colors_3"></div>
              <div class="gradient_square gs7 colors_3"></div>
              <div class="gradient_square gs8 colors_3"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="favorite_id"></div>
      <div class="wrap-button-gray button-remove-wrapper">
        <% if user_signed_in? %>
          <% if current_user.favorites.present? %>
            <button type="submit" class="button-gray button-remove"><%= t('favorites.remove_from_favorites') %></button>
          <% end %>
        <% else %>
          <% if Favorite.where(last_pick_color_in_ip: request.remote_ip).present? %>
            <button type="submit" class="button-gray button-remove"><%= t('favorites.remove_from_favorites') %></button>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>
<!-- end container -->

<script type="text/javascript" charset="utf-8" async defer>
  $('.selector_badge').click(function() {
    favorite_id = $(this).data('favorite-id')
    $('.favorite_id').attr('data-id', favorite_id);
  });
 
  var getid = $('.color_selector:first').parent().data('favorite-id');
  $('.favorite_id').attr('data-id', getid);

  <% @favorites_with_index.in_groups_of(50).each_with_index do |favorites_box, idx1| %>
    <% favorites_box.in_groups_of(10).each_with_index do |favorites, idx2| %>
      var sortableItem = document.getElementById('draggable-<%= "#{idx1}-#{idx2}" %>')
      if (window.innerWidth < 768) {
        initSortable(sortableItem, true);
      } else {
        initSortable(sortableItem, false);
      }
    <% end %>
  <% end %>
</script>
