<%= render 'shared/header' %>
<div class="text-center">
  <div class="row">
    <div class="col-md-5 col-md-offset-4 form__content">
      <div class="form__title"><%= t('login.forgot_password') %></div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-group">
          <%= f.label :email, t('login.email_address') %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="button-container">
          <%= f.submit t('login.reset_password'), class: 'btn btn--blue btn--large' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
