<div class="page-footer">
  <div class="footer__content">
    © <%= Time.current.year %>
      <%= link_to t('footer.contact'), contact_path, class: "footer__el footer__links" %>
      <%= link_to t('footer.add_licensed_account'), new_licensed_account_path, class: "footer__el footer__links" %>
      <%= link_to t('footer.privacy_policy'), privacy_path, class: "footer__el footer__links" %>
      <%= link_to t('footer.terms_use'), terms_path, class: "footer__el footer__links" %> 
  </div>
</div>