<div class="header">
  <div class="header__content">
    <a class="header__brand" href="/">
      <%= image_tag('rainbow_logo.svg', alt: 'Color Picking Logo')%>
    </a>
    <nav class="header__nav desc <%= 'header__logged-in' if user_signed_in? %>">
      <div class="main_navigation_container">
        <%= link_to(t('home_page.header.create'), app_path, class: 'header__nav-link') %>                
        <%= link_to(t('home_page.header.favorites'), favorites_path, class: 'header__nav-link') %> 
        <%#= link_to(t('home_page.header.pricing'), pricing_path, class: 'header__nav-link') %>          
        <%# if freebies_for_selected_country %>
          <%#= link_to(t('home_page.header.freebies'), freebies_path, class: 'header__nav-link') %>
        <%# end %>
        <!--
        <div class="header__nav-right">
          <div class="header__modal">
            <div class="header__modal-limit" id="header__modal-limit">
              <div class="header__modal-content">
              <%#= t('create_page.free_trial') %>
              <%#= image_tag("#{trial_countdown(cookies[:counter].to_i, 'icon')}", :alt => "LIMIT USAGE", :class => "img-responsive header__img-tip", width:"100%")%>
              </div>
            </div>
            <div class="header__modal-message hide" id="header__modal-message">
              <div class="header__modal-icon">
                <%#= image_tag("close_button_very_small.svg", :alt => "Close", :class => "img-responsive", width:"100%")%>
              </div>
              <div class="text-tip"><%#= trial_countdown(cookies[:counter].to_i, "text") %></div>
              <%# if cookies[:counter].to_i >= 6 %>
                <div class="subtext-tip">
                  <%#= link_to t("trial_ended_modal.upgrade_now"), pricing_path(promo: "vDOLkivN") %> <%#= "#{t("trial_ended_modal.upgrade_with_code", code: "vDOLkivN")}".html_safe %>
                </div>
              <%# end %>
            </div>
          </div>
        </div>
        -->
      </div>
      
      <% if @sub_navigation_avail %>
        <div class="sub_navigation_container">
          <div class="sub_navigation">
            <%= link_to app_path, class: "sub_navigation_item #{ 'active' if params[:action].eql?('index') }" do %>
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="-0.5" y="-0.5" width="13" height="13" fill="black">
                  <path d="M9.8891 2.1109C8.85027 1.07211 7.4691 0.5 6 0.5C4.5309 0.5 3.14973 1.07211 2.1109 2.1109C1.07211 3.14973 0.5 4.5309 0.5 6C0.5 7.4691 1.07211 8.85027 2.1109 9.8891C3.14973 10.9279 4.5309 11.5 6 11.5C7.4691 11.5 8.85027 10.9279 9.8891 9.8891C10.9279 8.85027 11.5 7.4691 11.5 6C11.5 4.5309 10.9279 3.14973 9.8891 2.1109ZM10.8447 5.67773H9.02064C8.95745 5.08137 8.72097 4.53605 8.3627 4.09303L9.65357 2.80216C10.3601 3.60713 10.7751 4.60891 10.8447 5.67773ZM6.32227 1.15532C7.39107 1.2249 8.39287 1.63983 9.19782 2.34641L7.90697 3.63728C7.46395 3.279 6.91863 3.04253 6.32227 2.97934V1.15532ZM5.67773 1.15532V2.97934C5.08137 3.04253 4.53608 3.279 4.09303 3.63728L2.80216 2.34641C3.60713 1.63983 4.60893 1.22488 5.67773 1.15532ZM2.34643 2.80216L3.6373 4.09303C3.279 4.53605 3.04253 5.08137 2.97934 5.67773H1.15532C1.22488 4.60891 1.63985 3.60713 2.34643 2.80216ZM1.15532 6.32227H2.97936C3.04255 6.91863 3.27903 7.46395 3.6373 7.90697L2.34643 9.19784C1.63985 8.39287 1.22488 7.39109 1.15532 6.32227ZM5.67773 10.8447C4.60893 10.7751 3.60713 10.3602 2.80218 9.65361L4.09303 8.36272C4.53605 8.721 5.08137 8.95747 5.67773 9.02066V10.8447ZM3.60677 6C3.60677 4.68037 4.68039 3.60677 6 3.60677C7.31961 3.60677 8.39323 4.68037 8.39323 6C8.39323 7.31963 7.31961 8.39323 6 8.39323C4.68039 8.39323 3.60677 7.31963 3.60677 6ZM6.32229 10.8447V9.02066H6.32227C6.91863 8.95747 7.46392 8.721 7.90697 8.36272L9.19784 9.65359C8.39287 10.3602 7.39109 10.7751 6.32229 10.8447ZM9.65357 9.19784L8.3627 7.90697C8.72097 7.46395 8.95745 6.91863 9.02064 6.32227H10.8447C10.7751 7.39109 10.3601 8.39287 9.65357 9.19784Z"/>
                </mask>
                <path stroke-width="0" d="M9.8891 2.1109C8.85027 1.07211 7.4691 0.5 6 0.5C4.5309 0.5 3.14973 1.07211 2.1109 2.1109C1.07211 3.14973 0.5 4.5309 0.5 6C0.5 7.4691 1.07211 8.85027 2.1109 9.8891C3.14973 10.9279 4.5309 11.5 6 11.5C7.4691 11.5 8.85027 10.9279 9.8891 9.8891C10.9279 8.85027 11.5 7.4691 11.5 6C11.5 4.5309 10.9279 3.14973 9.8891 2.1109ZM10.8447 5.67773H9.02064C8.95745 5.08137 8.72097 4.53605 8.3627 4.09303L9.65357 2.80216C10.3601 3.60713 10.7751 4.60891 10.8447 5.67773ZM6.32227 1.15532C7.39107 1.2249 8.39287 1.63983 9.19782 2.34641L7.90697 3.63728C7.46395 3.279 6.91863 3.04253 6.32227 2.97934V1.15532ZM5.67773 1.15532V2.97934C5.08137 3.04253 4.53608 3.279 4.09303 3.63728L2.80216 2.34641C3.60713 1.63983 4.60893 1.22488 5.67773 1.15532ZM2.34643 2.80216L3.6373 4.09303C3.279 4.53605 3.04253 5.08137 2.97934 5.67773H1.15532C1.22488 4.60891 1.63985 3.60713 2.34643 2.80216ZM1.15532 6.32227H2.97936C3.04255 6.91863 3.27903 7.46395 3.6373 7.90697L2.34643 9.19784C1.63985 8.39287 1.22488 7.39109 1.15532 6.32227ZM5.67773 10.8447C4.60893 10.7751 3.60713 10.3602 2.80218 9.65361L4.09303 8.36272C4.53605 8.721 5.08137 8.95747 5.67773 9.02066V10.8447ZM3.60677 6C3.60677 4.68037 4.68039 3.60677 6 3.60677C7.31961 3.60677 8.39323 4.68037 8.39323 6C8.39323 7.31963 7.31961 8.39323 6 8.39323C4.68039 8.39323 3.60677 7.31963 3.60677 6ZM6.32229 10.8447V9.02066H6.32227C6.91863 8.95747 7.46392 8.721 7.90697 8.36272L9.19784 9.65359C8.39287 10.3602 7.39109 10.7751 6.32229 10.8447ZM9.65357 9.19784L8.3627 7.90697C8.72097 7.46395 8.95745 6.91863 9.02064 6.32227H10.8447C10.7751 7.39109 10.3601 8.39287 9.65357 9.19784Z" fill="#434343"/>
                <path stroke-width="0" d="M9.8891 2.1109L9.95981 2.04019L9.95981 2.04019L9.8891 2.1109ZM2.1109 2.1109L2.04019 2.04019L2.04019 2.04019L2.1109 2.1109ZM2.1109 9.8891L2.04019 9.95981L2.04019 9.95981L2.1109 9.8891ZM9.8891 9.8891L9.95981 9.95981L9.95981 9.95981L9.8891 9.8891ZM10.8447 5.67773V5.77773H10.9514L10.9445 5.67124L10.8447 5.67773ZM9.02064 5.67773L8.92119 5.68827L8.93067 5.77773H9.02064V5.67773ZM8.3627 4.09303L8.29199 4.02231L8.22836 4.08594L8.28494 4.15591L8.3627 4.09303ZM9.65357 2.80216L9.72872 2.73619L9.65832 2.65598L9.58286 2.73145L9.65357 2.80216ZM6.32227 1.15532L6.32876 1.05553L6.22227 1.04859V1.15532H6.32227ZM9.19782 2.34641L9.26853 2.41712L9.34399 2.34166L9.26379 2.27126L9.19782 2.34641ZM7.90697 3.63728L7.84409 3.71503L7.91406 3.77161L7.97769 3.70799L7.90697 3.63728ZM6.32227 2.97934H6.22227V3.0693L6.31173 3.07878L6.32227 2.97934ZM5.67773 1.15532H5.77773V1.0486L5.67124 1.05553L5.67773 1.15532ZM5.67773 2.97934L5.68827 3.07878L5.77773 3.0693V2.97934H5.67773ZM4.09303 3.63728L4.02231 3.70799L4.08594 3.77161L4.1559 3.71504L4.09303 3.63728ZM2.80216 2.34641L2.73619 2.27126L2.65598 2.34166L2.73145 2.41712L2.80216 2.34641ZM2.34643 2.80216L2.41714 2.73145L2.34168 2.65598L2.27128 2.73619L2.34643 2.80216ZM3.6373 4.09303L3.71505 4.15591L3.77164 4.08594L3.70801 4.02231L3.6373 4.09303ZM2.97934 5.67773V5.77773H3.0693L3.07878 5.68827L2.97934 5.67773ZM1.15532 5.67773L1.05553 5.67124L1.0486 5.77773H1.15532V5.67773ZM1.15532 6.32227V6.22227H1.0486L1.05553 6.32876L1.15532 6.32227ZM2.97936 6.32227L3.0788 6.31173L3.06933 6.22227H2.97936V6.32227ZM3.6373 7.90697L3.70801 7.97768L3.77164 7.91406L3.71505 7.84409L3.6373 7.90697ZM2.34643 9.19784L2.27128 9.26381L2.34168 9.34402L2.41714 9.26855L2.34643 9.19784ZM5.67773 10.8447L5.67124 10.9445L5.77773 10.9514V10.8447H5.67773ZM2.80218 9.65361L2.73147 9.5829L2.65601 9.65836L2.73621 9.72876L2.80218 9.65361ZM4.09303 8.36272L4.15591 8.28497L4.08594 8.22839L4.02231 8.29201L4.09303 8.36272ZM5.67773 9.02066H5.77773V8.9307L5.68827 8.92122L5.67773 9.02066ZM6.32229 10.8447H6.22229V10.9514L6.32878 10.9445L6.32229 10.8447ZM6.32229 9.02066H6.42229V8.92066H6.32229V9.02066ZM6.32227 9.02066L6.31173 8.92122L6.32227 9.12066V9.02066ZM7.90697 8.36272L7.97768 8.29201L7.91406 8.22839L7.8441 8.28496L7.90697 8.36272ZM9.19784 9.65359L9.26381 9.72874L9.34402 9.65834L9.26855 9.58288L9.19784 9.65359ZM9.65357 9.19784L9.58286 9.26855L9.65832 9.34402L9.72872 9.26381L9.65357 9.19784ZM8.3627 7.90697L8.28494 7.84409L8.22836 7.91406L8.29199 7.97768L8.3627 7.90697ZM9.02064 6.32227V6.22227H8.93067L8.92119 6.31173L9.02064 6.32227ZM10.8447 6.32227L10.9445 6.32876L10.9514 6.22227H10.8447V6.32227ZM9.95981 2.04019C8.90222 0.982643 7.49562 0.4 6 0.4V0.6C7.44258 0.6 8.79831 1.16157 9.81839 2.18161L9.95981 2.04019ZM6 0.4C4.50438 0.4 3.09778 0.982643 2.04019 2.04019L2.18161 2.18161C3.20169 1.16157 4.55742 0.6 6 0.6V0.4ZM2.04019 2.04019C0.982643 3.09778 0.4 4.50438 0.4 6H0.6C0.6 4.55742 1.16157 3.20169 2.18161 2.18161L2.04019 2.04019ZM0.4 6C0.4 7.49562 0.982643 8.90222 2.04019 9.95981L2.18161 9.81839C1.16157 8.79831 0.6 7.44258 0.6 6H0.4ZM2.04019 9.95981C3.09778 11.0174 4.50438 11.6 6 11.6V11.4C4.55742 11.4 3.20169 10.8384 2.18161 9.81839L2.04019 9.95981ZM6 11.6C7.49562 11.6 8.90222 11.0174 9.95981 9.95981L9.81839 9.81839C8.79831 10.8384 7.44258 11.4 6 11.4V11.6ZM9.95981 9.95981C11.0174 8.90222 11.6 7.49562 11.6 6H11.4C11.4 7.44258 10.8384 8.79831 9.81839 9.81839L9.95981 9.95981ZM11.6 6C11.6 4.50438 11.0174 3.09778 9.95981 2.04019L9.81839 2.18161C10.8384 3.20169 11.4 4.55742 11.4 6H11.6ZM10.8447 5.57773H9.02064V5.77773H10.8447V5.57773ZM9.12008 5.6672C9.0548 5.05101 8.81044 4.48765 8.44046 4.03014L8.28494 4.15591C8.63151 4.58446 8.86011 5.11173 8.92119 5.68827L9.12008 5.6672ZM8.43341 4.16374L9.72428 2.87287L9.58286 2.73145L8.29199 4.02231L8.43341 4.16374ZM9.57841 2.86813C10.2705 3.65654 10.6768 4.6374 10.7449 5.68423L10.9445 5.67124C10.8735 4.58041 10.4498 3.55773 9.72872 2.73619L9.57841 2.86813ZM6.31577 1.25511C7.36258 1.32326 8.34346 1.72953 9.13185 2.42156L9.26379 2.27126C8.44227 1.55013 7.41956 1.12655 6.32876 1.05553L6.31577 1.25511ZM9.12711 2.2757L7.83626 3.56657L7.97769 3.70799L9.26853 2.41712L9.12711 2.2757ZM7.96985 3.55952C7.51235 3.18954 6.94899 2.94518 6.3328 2.8799L6.31173 3.07878C6.88827 3.13987 7.41554 3.36846 7.84409 3.71503L7.96985 3.55952ZM6.42227 2.97934V1.15532H6.22227V2.97934H6.42227ZM5.57773 1.15532V2.97934H5.77773V1.15532H5.57773ZM5.6672 2.8799C5.05101 2.94518 4.48767 3.18954 4.03015 3.55952L4.1559 3.71504C4.58448 3.36846 5.11174 3.13987 5.68827 3.07878L5.6672 2.8799ZM4.16374 3.56657L2.87287 2.2757L2.73145 2.41712L4.02231 3.70799L4.16374 3.56657ZM2.86813 2.42156C3.65654 1.72953 4.63742 1.32324 5.68423 1.25511L5.67124 1.05553C4.58044 1.12653 3.55773 1.55014 2.73619 2.27126L2.86813 2.42156ZM2.27572 2.87287L3.56659 4.16374L3.70801 4.02231L2.41714 2.73145L2.27572 2.87287ZM3.55954 4.03014C3.18954 4.48765 2.94518 5.05101 2.8799 5.6672L3.07878 5.68827C3.13987 5.11173 3.36846 4.58446 3.71505 4.15591L3.55954 4.03014ZM2.97934 5.57773H1.15532V5.77773H2.97934V5.57773ZM1.25511 5.68423C1.32324 4.6374 1.72955 3.65654 2.42159 2.86813L2.27128 2.73619C1.55016 3.55773 1.12653 4.58041 1.05553 5.67124L1.25511 5.68423ZM1.15532 6.42227H2.97936V6.22227H1.15532V6.42227ZM2.87992 6.3328C2.9452 6.94899 3.18956 7.51235 3.55954 7.96985L3.71505 7.84409C3.36849 7.41554 3.13989 6.88827 3.0788 6.31173L2.87992 6.3328ZM3.56659 7.83626L2.27572 9.12713L2.41714 9.26855L3.70801 7.97768L3.56659 7.83626ZM2.42159 9.13187C1.72955 8.34346 1.32324 7.3626 1.25511 6.31577L1.05553 6.32876C1.12653 7.41959 1.55016 8.44227 2.27128 9.26381L2.42159 9.13187ZM5.68423 10.7449C4.63742 10.6768 3.65653 10.2705 2.86815 9.57846L2.73621 9.72876C3.55773 10.4499 4.58044 10.8735 5.67124 10.9445L5.68423 10.7449ZM2.87289 9.72432L4.16374 8.43343L4.02231 8.29201L2.73147 9.5829L2.87289 9.72432ZM4.03014 8.44048C4.48765 8.81046 5.05101 9.05482 5.6672 9.1201L5.68827 8.92122C5.11173 8.86013 4.58446 8.63154 4.15591 8.28497L4.03014 8.44048ZM5.57773 9.02066V10.8447H5.77773V9.02066H5.57773ZM3.70677 6C3.70677 4.73559 4.73561 3.70677 6 3.70677V3.50677C4.62516 3.50677 3.50677 4.62514 3.50677 6H3.70677ZM6 3.70677C7.26439 3.70677 8.29323 4.73559 8.29323 6H8.49323C8.49323 4.62514 7.37484 3.50677 6 3.50677V3.70677ZM8.29323 6C8.29323 7.26441 7.26439 8.29323 6 8.29323V8.49323C7.37484 8.49323 8.49323 7.37486 8.49323 6H8.29323ZM6 8.29323C4.73561 8.29323 3.70677 7.26441 3.70677 6H3.50677C3.50677 7.37486 4.62516 8.49323 6 8.49323V8.29323ZM6.42229 10.8447V9.02066H6.22229V10.8447H6.42229ZM6.32229 8.92066H6.32227V9.12066H6.32229V8.92066ZM6.3328 9.1201C6.94899 9.05482 7.51233 8.81046 7.96985 8.44048L7.8441 8.28496C7.41552 8.63154 6.88826 8.86013 6.31173 8.92122L6.3328 9.1201ZM7.83626 8.43343L9.12713 9.7243L9.26855 9.58288L7.97768 8.29201L7.83626 8.43343ZM9.13187 9.57844C8.34346 10.2705 7.3626 10.6768 6.31579 10.7449L6.32878 10.9445C7.41959 10.8735 8.44227 10.4499 9.26381 9.72874L9.13187 9.57844ZM9.72428 9.12713L8.43341 7.83626L8.29199 7.97768L9.58286 9.26855L9.72428 9.12713ZM8.44046 7.96985C8.81044 7.51235 9.0548 6.94899 9.12008 6.3328L8.92119 6.31173C8.86011 6.88827 8.63151 7.41554 8.28494 7.84409L8.44046 7.96985ZM9.02064 6.42227H10.8447V6.22227H9.02064V6.42227ZM10.7449 6.31577C10.6768 7.3626 10.2705 8.34346 9.57841 9.13187L9.72872 9.26381C10.4498 8.44227 10.8735 7.41959 10.9445 6.32876L10.7449 6.31577Z" fill="#434343" mask="url(#path-1-outside-1)"/>
              </svg>
              <span class="sub_navigation_item_text"><%= t('create_page.color_wheel') %></span>
            <% end %>
            <%= link_to hex_match_path, class: "sub_navigation_item #{ 'active' if params[:action].eql?('hex_match') }" do %>
              <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.5 0.5V10.5" stroke="black"/>
                <path d="M6.5 0.5V10.5" stroke="black"/>
                <path d="M0 7L10 7" stroke="black"/>
                <path d="M0 4L10 4" stroke="black"/>
              </svg>
              <span class="sub_navigation_item_text"><%= t('create_page.hex_match') %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </nav>

    <div class="hamburger" id="header-trigger">
      <div class="hamburger-container">
        <div class="hamburger__bar"></div>
        <div class="hamburger__bar"></div>
        <div class="hamburger__bar"></div>
      </div>
    </div>
  </div>
</div>