<% content_for :pagetitle do %>Contact Us<% end %>
<% content_for :description do %>Contact the <%= I18n.t('website_config.app_name') %> team.<% end %>

<div class="page-content">
  <%= render 'shared/header' %>

  <div class="premium__title-container">
    <h2 class="page-title"><%= t('contact.contact') %></h2>
  </div>

  <div class="page-section__text page-height" style="max-width: 340px;">
    <div class="page-container">
      <p class="page-text" style="font-size: 18px;">
        <%= t('contact.contact_color_supply_team') %>
        <br>
        <%= link_to I18n.t('website_config.contact_email2'), "mailto:#{I18n.t('website_config.contact_email2')}",
            class: 'blue-link', style: 'line-height: 50px;' %>
      </p>
    </div>
  </div>
</div>
