<% content_for :pagetitle do %><%= t('home_page.color_picking_made_easy') %><% end %>
<% content_for :description do %><%= t('home_page.color_picking_made_easy') %><% end %>

<%= render 'shared/header' %>
<div class="container">
	<section class="section intro">
		<div class="intro_header">
			<h1 class="letters"><%= t('home_page.color_supply') %></h1>
		</div>
		<div class="intro_content">
			<h2><%= t('home_page.color_picker_for_designer') %></h2>
		</div>

		<div class="intro_action">
			<a href="/app"><button class="button launch_button"><%= t('home_page.try_now') %></button></a>
		</div>
	</section>

	<section class="section content">
		<div class="content_header">
			<div class="content_header_title">
				<h3><%= t('home_page.headline1.title') %></h3>
			</div>
			<div class="content_header_sub">
				<h4><%= t('home_page.headline1.subtitle') %></h4>
			</div>
		</div>

		<div class="content_body">
			<div class="content_body_one">
				<div class="content_body_img"><%= image_tag 'kyle_miller.svg', alt: 'Kyle Miller' %></div>
				<div class="content_body_desc">Kyle Miller</div>
				<div class="content_body_color">
					<div class="col-md-6">
						<div class="color-box bg-kyle"></div>
						<div class="text-box">#ed5740</div>
					</div>
					<div class="col-md-6">
						<div class="color-box bg-miller"></div>
						<div class="text-box">#a6d7df</div>
					</div>
				</div>
			</div>

			<div class="content_body_one">
				<div class="content_body_img"><%= image_tag 'steve_scott.svg', alt: 'Steve Scott' %></div>
				<div class="content_body_desc">Steve Scott</div>
				<div class="content_body_color">
					<div class="col-md-6">
						<div class="color-box bg-steve"></div>
						<div class="text-box">#f8d14c</div>
					</div>
					<div class="col-md-6">
						<div class="color-box bg-scott"></div>
						<div class="text-box">#2c9fd1</div>
					</div>
				</div>
			</div>

			<div class="content_body_one">
				<div class="content_body_img"><%= image_tag 'mei_tan.svg', alt: 'Mei Tan' %></div>
				<div class="content_body_desc">Mei Tan</div>
				<div class="content_body_color">
					<div class="col-md-6">
						<div class="color-box bg-mei"></div>
						<div class="text-box">#3d9cdf</div>
					</div>
					<div class="col-md-6">
						<div class="color-box bg-tan"></div>
						<div class="text-box">#cd6136</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section content">

		<div class="content_header">
			<div class="content_header_title">
				<h3><%= t('home_page.headline2.title') %></h3>
			</div>
			<div class="content_header_sub">
				<h4>
					<%= t('home_page.headline2.subtitle') %>
					<%= t('home_page.headline2.featured_artists') %>
				</h4>
			</div>
		</div>
		<div class="content_body">
			<div class="col-md-4">
				<a class="artist_link" target="_blank" href="https://www.behance.net/coenpohl">Coen Pohl</a> <br />
				<a class="artist_link" target="_blank" href="http://anastiia.myportfolio.com">Anastasiia Andriichuk</a> <br />
				<a class="artist_link" target="_blank" href="http://www.wallacedsgn.com/">Dustin Wallace</a> <br />
				<a class="artist_link" target="_blank" href="http://www.kylemillercreative.com">Kyle Miller</a> <br />
				<a class="artist_link" target="_blank" href="http://www.meg.is/">Meg Robichaud</a> <br />
				<a class="artist_link" target="_blank" href="http://joshwarrendesign.com/">Josh Warren</a> <br />
				<a class="artist_link" target="_blank" href="http://kathrinhonesta.tumblr.com">Kathrin Honesta</a> <br />
				<a class="artist_link" target="_blank" href="http://stevescott.com.au">Steve Scott</a> <br />
				<a class="artist_link" target="_blank" href="http://lilidesbellons.com">Lili des Bellons</a> <br />
				<a class="artist_link" target="_blank" href="http://happyloverstown.eu">Jonathan Calugi</a> <br />
			</div>
			<div class="col-md-4">
				<a class="artist_link" target="_blank" href="https://www.behance.net/samyhalim">Sami Halim</a> <br />
				<a class="artist_link" target="_blank" href="https://www.behance.net/gallery/22183763/Ecosynthesis">Olia Marchenko</a> <br />
				<a class="artist_link" target="_blank" href="https://www.behance.net/meiytan">Mei Tan</a> <br />
				<a class="artist_link" target="_blank" href="https://www.behance.net/lucaswaka">Lucas Wakamatsu</a> <br />
				<a class="artist_link" target="_blank" href="http://www.jeremy-booth.com">Jeremy Booth</a> <br />
				<a class="artist_link" target="_blank" href="http://www.forestry.no">Anna Katrin Karlsson</a> <br />
				<a class="artist_link" target="_blank" href="http://happyloverstown.eu">Jonathan Calugi</a> <br />
				<a class="artist_link" target="_blank" href="https://www.behance.net/Aleebaes">Alejandra Ballesteros</a> <br />
				<a class="artist_link" target="_blank" href="http://www.lianajegers.com">Liana Jegers</a> <br />
				<a class="artist_link" target="_blank" href="http://asukawatanabe.com">Asuka Watanabee</a> <br />
			</div>
			<div class="col-md-4">
				<a class="artist_link" target="_blank" href="http://www.agrisbobrovs.lv/">Agris Bobrovs</a> <br />
				<a class="artist_link" target="_blank" href="https://dribbble.com/almigor">Aleksandar Savić</a> <br />
				<a class="artist_link" target="_blank" href="https://www.behance.net/niccimartin">Nicci Martin</a> <br />
				<a class="artist_link" target="_blank" href="https://www.behance.net/lucaswaka">Lucas Wakamatsu</a> <br />
				<a class="artist_link" target="_blank" href="http://danieltriendl.com">Daniel Triendl</a> <br />
				<a class="artist_link" target="_blank" href="https://www.behance.net/gallery/22183763/Ecosynthesis">Olia Marchenko</a> <br />
			</div>
		</div>
	</section>

	<section class="section content">
		<div class="content_header">
			<div class="content_header_title">
				<h3><%= t('home_page.headline3.title') %></h3>
			</div>
			<div class="content_header_sub">
				<h4><%= t('home_page.headline3.subtitle') %></h4>
			</div>
		</div>
		<div class="content_body columns">
			<%== t("home_page.content.paragraph1") %>
			<%== t("home_page.content.paragraph2",
							cta_link1: link_to(t("home_page.cta_link.preserve"), preserve_path, class: "concept_link", target: "_blank"),
							cta_link2: link_to(t("home_page.cta_link.legwork"), legwork_path, class: "concept_link", target: "_blank"),
							cta_link3: link_to(t("home_page.cta_link.si_le_soleil"), si_le_soleil_path, class: "concept_link", target:  "_blank")
						) %>
			<%== t("home_page.content.paragraph3") %>
			<%== t("home_page.content.paragraph4",
							cta_link1: link_to(t("home_page.cta_link.mind_sparkle_mag"), "http://mindsparklemag.com", class: "concept_link", target: "_blank"),
							cta_link2: link_to(t("home_page.cta_link.random_color_generator"), random_color_generator_path, class: "concept_link", target: "_blank"),
							cta_link3: link_to(t("home_page.cta_link.red_aesthetic"), red_aesthetic_path, class: "concept_link", target: "_blank")
						) %>
		</div>
		<!-- end container -->

	</section>
</div>