<% content_for :pagetitle do %>Upgrade to Color Supply Premium<% end %>
<% content_for :description do %>Upgrade to Color Supply Premium.<% end %>

<div class="page-content">
	<%= render 'shared/header' %>

	<div class="premium__title-container">
		<h2 class="page-title">Color Supply <span class="text-premium">Premium</span> </h2>
	</div>

	<div class="page-section__text">
		<div class="page-container">
			<p class="page-text">Hi there. I’m <a href="https://twitter.com/mgentry81" target="_blank">Mason</a>, a visual designer from Los Angeles. I’ve worked in the design and advertising business for more than a decade. But even though I make a living as a designer, I used to struggle when it comes to choosing colors. </p>
			<p class="page-text">Here’s what would happen. I’d open up Photoshop or Sketch, and click around for a while skipping from color to color. There would be no rhyme or reason to it. If a certain color came to mind I’d just try it.</p>

			<h3>I would ask myself:</h3>
			<p class="page-text">
			<ul>
				<li><em>Do these colors work for this brand?</em></li>
				<li><em>Are these three colors working in harmony?</em></li>
				<li><em>Why can’t I make color combinations that match?</em></li>
			</ul>
			</p>
			<p class="page-text">I would often resort to using the same color combinations I always used (I’m looking at you orange &amp; blue). </p>
			<p class="page-text">Eventually, I would come up with something but the process to get there was painful. And it chewed up a lot of time. </p>

			<h3>It should be so much easier</h3>
			<p class="page-text">I did deep dives and researched color theory in books. And those books were helpful! But they covered colors in an abstract, academic way. </p>
			<p class="page-text">I wanted <strong>actual color samples</strong> that I could use in my projects.</p>
			<p class="page-text">Not to copy necessarily, but to at least get me started. I liked sites like <a href="https://color.adobe.com/create/color-wheel/" target="_blank">Adobe Color,</a> <a href="http://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF" target="_blank"> Paleton</a>, and <a href="http://colorizer.org" target="_blank">Colorizer,</a> but they never quite worked when it came time to get s**t done. </p>

			<h3>The dream</h3>
			<p class="page-text">For most of my career, I worked that way. But in the back of my mind, I always had an idea of what my ideal color picking tool would look like. I wanted a new and improved color picking process that saved a ton of time.</p>
			<p class="page-text">It looked like this. You sit down at your desk to start a new project. Your creative brief says you’re designing a fashion e-commerce site for young women. Fun!</p>
			<p class="page-text">You open this magic color tool and toggle through a handful of color styles all organized by theme. Some of the palettes are by the best contemporary designers living today, others are from 20th-century masters of color. </p>
			<p class="page-text">You explore the palettes on the ‘fresh’ wheel and consider different options...</p>
		</div>
	</div>

	<div class="upgrade_main_animation">
		<div class="video-embed iframe-box">
			<div class="embed-responsive embed-responsive-16by9 video_wrapper video_wrapper_full js-videoWrapper">
				<div id="player"></div>
				<button class="videoPoster js-videoPoster">
					<svg class="play_button">
						<path class="icon_youtube" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#212121" fill-opacity="0.8">
						</path>
						<path d="M 45,24 27,14 27,34" fill="#fff"></path>
					</svg>
				</button>
			</div>
			<p class="page-text">A demo of color supply premium</p>
		</div>
	</div>

	<div class="page-section__text">
		<div class="page-container">
			<p class="page-text">The pink section jump out at you and you explore different variations until you decide on these colors:</p>
			<div class="five_colors">
				<%= image_tag("fashion_site_colors.svg",:size => "475x86", :alt => "fashion_site_colors", :class => "img-responsive") %>
			</div>

			<p class="page-text">This could work well for your project. And it fits the creative brief. <strong>Nice!</strong> You can either copy them exactly or use them as a base to build from. </p>
			<p class="page-text">Next you start designing. This is an entire process in and of itself but at least now you have some colors to work with! You work on a few layouts, add a color or two, and eventually, you have a design that your client loves:</p>
			<%= link_to sample_site_url, :target => "_blank" do%>
			  <%= image_tag("francescas_thumb.jpg",:size => "475x86", :alt => "fashion_site_colors", :class => "img-responsive") %>
			<%end%>
			<p class="text-click page-text"> Click for full size</p>
			<p class="page-text">And those colors only too a couple of minutes to find! Now you have more time for layout, fonts, and other considerations.</p>
			<p class="page-text">--</p>
			<p class="page-text">That’s what my ideal color picker looked like. Just one problem...</p>

			<h3>The tool I wanted didn't exist</h3>
			<p class="page-text">So I set out to make it! Color Supply Premium is like the free version you've already used but with more options. Now I have these color palettes at my disposal:</p>
			<div class="wrap-upgrade-circle">
				<div class="wrap-content-circle">
					<div class="text-circle">
						<p class="page-text">If I need to design a trendy fashion e-commerce site I’ll use the Fresh wheel</p>
					</div>
					<div class="upgrade_circle">
						<%= image_tag("fresh_upgrade_wheel.svg",:size => "154x154", :alt => "fresh_wheel") %>
						<p class="desc-circle">'Fresh'</p>
					</div>
				</div>

				<div class="wrap-content-circle">
					<div class="text-circle">
						<p class="page-text">If I’m helping a friend with her Manga illustrations, I’ll use this wheel</p>
					</div>

					<div class="upgrade_circle">
						<%= image_tag("manga_upgrade_wheel.svg",:size => "154x154", :alt => "fresh_wheel") %>
						<p class="desc-circle">'Manga'</p>
					</div>
				</div>

				<div class="wrap-content-circle">
					<div class="text-circle">
						<p class="page-text">If I needed some warm colors for a fall themed project, I’ll try this </p>
					</div>

					<div class="upgrade_circle">
						<%= image_tag("nature_upgrade_wheel.svg",:size => "154x154", :alt => "fresh_wheel") %>
						<p class="desc-circle">'Nature'</p>
					</div>
				</div>

				<div class="wrap-content-circle">
					<div class="text-circle">
						<p class="page-text">If want to channel inspiration from impressionist painters, I’ll use the Painters wheel</p>
					</div>

					<div class="upgrade_circle">
						<%= image_tag("painters_upgrade_wheel.svg",:size => "154x154", :alt => "fresh_wheel") %>
						<p class="desc-circle">'Painters'</p>
					</div>
				</div>
			</div>

			<p class="page-text">
				It makes picking the right colors a breeze and I'm done in 5 minutes instead of an hour.</p>

			<h3>What you get:</h3>
			<p class="page-text">
			<ul>
				<li class="bluecheck">
					<div class="bullet">'Fresh', 'Manga', 'Nature', &amp 'Painters' color wheels</div>
				</li>
				<li class="bluecheck">
					<div class="bullet">Access to all future color wheels</div>
				</li>
				<li class="bluecheck">
					<div class="bullet">Ability to bookmark your favorite colors for later</div>
				</li>
				<li class="bluecheck">
					<div class="bullet">No risk, 30-day money back guarantee</div>
				</li>
			</ul>

			<h3>What you’ll be able to achieve:</h3>
			<ul>
				<li class="bluecheck">
					<div class="bullet">Find the perfect color combinations</div>
				</li>
				<li class="bluecheck">
					<div class="bullet">Find colors that actually match</div>
				</li>
				<li class="bluecheck">
					<div class="bullet">Break free of using the same color combinations</div>
				</li>
			</ul>

			<p class="page-text">
				Most importantly it will give you the confidence to create amazing looking work and overcome the color roadblocks that were holding you back.</p>
			<br>
			<!--
			<div class="upgrade">
				<%#= link_to 'upgrade to premium', pricing_path, class: 'btn btn--blue btn-uppremium' %>
			</div>
			-->
		</div>
	</div>
	<!-- scripts js -->
	<script src="upgrade_animation.js"></script>
</div>